

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
   background-color: aqua;
   font-size: medium;
   align-items: center;
}

h1{
   font-family: 'Courier New', Courier, monospace;
}
















