

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
   background-color: aqua;
   font-size: large;
}

h1{
   font-family: 'Courier New', Courier, monospace;
}
















